body {
  background-color: #697184;
}

#home-title {
  margin: auto;
  text-align: center;
}

#welcome {
  color: rgb(111, 111, 111);
}

#user-choice {
  padding-top: 200px;
}

#check-answer {
  margin-top: 20px;
}

#next-question {
  margin-top: 20px;
}

#extra_space {
  padding-top: 30px;
  padding-bottom: 30px;
}

.learning-media {
  width: 100%;
}


.card {
  margin-top: 100px;
  background-color: #F2F1EF;
  padding: 5vh 5vw;
  border: none;
}

.selection-start-format {
  padding-bottom: 50px;
}

.video-explanation {
  margin-top: 10%;
}

.quiz-body {
  margin-top: 50px;
}
