{% extends "layout.html" %}
{% block content %}
<div>
    <h1>Quiz</h1>
</div>
<div>
  <h2>Question #{{question.quiz_id}}/5</h2>
  <p>{{question.question}}</p>
  <iframe width="560" height="315" src={{question.vid}} title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  <form>
    <input type="radio" id={{question.op1}} name="ans" value={{question.op1}}>
    <label for={{question.op1}}>{{question.op1}}</label><br>
    <input type="radio" id={{question.op2}} name="ans" value={{question.op2}}>
    <label for={{question.op2}}>{{question.op2}}</label><br>
    <input type="radio" id={{question.op3}} name="ans" value={{question.op3}}>
    <label for={{question.op3}}>{{question.op3}}</label><br>
    <input type="radio" id={{question.op4}} name="ans" value={{question.op4}}>
    <label for={{question.op4}}>{{question.op4}}</label>
  </form>
  <button class="btn btn-primary check-ans">Check Answer</button>
</div>

<div id="feedback"></div>

<div id="next">
  <button class="btn btn-primary next-q">Next Question</button>
</div>

<script type="text/javascript">
  let question = {{question|tojson}}

  $(document).ready(function () {
    $(".next-q").click(function (event) {
      event.preventDefault()
      var url = "/quiz/" + question.next_lesson;
      window.location.href = url;
    })
    $(".check-ans").click(function (event) {
        console.log("check answer")
        event.preventDefault()
        var ele = document.getElementsByName('ans');
        //navigate to their input
        for(i = 0; i < ele.length; i++) {
          if(ele[i].checked){
            //document.getElementById("result").innerHTML = "Answer: "+ele[i].value;
            //console.log(ele[i].value)
            //console.log(question.ans)
            if((question.ans).includes(ele[i].value)){
              //Right answer
              document.getElementById("feedback").innerHTML = "Correct";
            }else{
              //Wrong answer
              document.getElementById("feedback").innerHTML = "Incorrect. The right answer was " + question.ans;
            }
          }
        }
        //var answer = document.getElementsByName('ans');
        //console.log(answer)

    })


  })


  // $( document ).ready(function() {
  //   $("#check_ans").input(function(){
  //     if("{{question.ans}}" == $('input[name="ans"]:checked').val()){
  //       window.location.href = "/"
  //     }else{
  //       window.location.href = "/violations"
  //     }
  //   })
  // })
</script>
{% endblock %}
