{% extends "layout.html" %}
{% block content %}
<div>
    <h1>Quiz</h1>
</div>
<div>
  <h2>Question #_/5</h2>

  <form>
    <input type="radio" id="24-second" name="ans" value="HTML">
    <label for="24-second">24 second</label><br>
    <input type="radio" id="Blocking" name="ans" value="CSS">
    <label for="Blocking">Blocking</label><br>
    <input type="radio" id="Reach" name="ans" value="JavaScript">
    <label for="Reach">Reach</label>
  </form>

  <button class="btn btn-info">Check Answer</button>
</div>
{% endblock %}
