{% extends "layout.html" %}
{% block content %}
<div class="container" id="home-welcome">
    <div class="row welcome-title">
        <div class="col-9" id="home-title">
            <h2><b>Take the Quiz</b></h2>
            <div id="welcome">
                <h3>Now you will take a quiz to test your learning outcome. The quiz will contain 6 questions. If you
                    answer 3 or more quesitons correctly, you will pass the quiz. Otherwise you will need to take it
                    again!</h3>
            </div>
            <div id="user-choice" class="row">
                <h4>Click the button to start</h4>

                <button class="btn btn-primary" id="start-quiz">Start</button>

            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    function reset_quiz() {
        console.log("here")
        $.ajax({
            type: "POST",
            url: "/reset_quiz",
            dataType: "json",
            contentType: "application/json; charset=utf-8",
            data: JSON.stringify("1"),
            success: function (result) {
                console.log("start quiz")
            },
            error: function (request, status, error) {
                console.log("Error");
                console.log(request)
                console.log(status)
                console.log(error)
            }
        });
    }
    $(document).ready(function () {
        $("#start-quiz").click(function (event) {
            event.preventDefault()
            reset_quiz()
            $(location).attr("href", "/quiz/1")
        })
    })
</script>
{% endblock %}
