{% extends "layout.html" %}

{% block content %}
<div class="container" id="home-welcome">
    <div class="row welcome-title">
        <div class="col-9" id="home-title">
            <h2><b>Welcome to Basketball Master</b></h2>
            <div id="welcome">
                <h3>The site that helps you understand the basics of a basketball game and enables you to watch
                    games with your family and friends!</h3>
            </div>
            <div id="user-choice" class="row">
                <h4>Select a section to start</h4>
                <div class="col-4">
                    <button class="btn btn-primary" id="learn-violations">Learn Violations</button>
                </div>
                <div class="col-4">
                    <button class="btn btn-primary" id="learn-fouls">Learn Fouls</button>
                </div>
                <div class="col-4">
                    <button class="btn btn-primary" id="take-quiz">Take A Quiz</button>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $("#learn-violations").click(function (event) {
            console.log("next page")
            event.preventDefault()
            $(location).attr("href", "/violations/1")

        })
        $("#learn-fouls").click(function (event) {
            console.log("next page")
            event.preventDefault()
            $(location).attr("href", "/fouls/1")

        })
        $("#take-quiz").click(function (event) {
            console.log("next page")
            event.preventDefault()
            $(location).attr("href", "/quiz/1")

        })
    })
</script>
{% endblock %}
